*{
	margin: 0px;
	padding: 0px;
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #333333;
	font-family: "黑体"，"微软雅黑";
}
a,p,ul,li,dd,dt{
	padding: 0px;
	margin: 0px;
}
h1,p,h2,h3{
	color: white;
}
a{
	color: #ccc;
	text-decoration: none;
}
a:hover{
	color: white;
}
#header{
	width: 100%;
	height: 80px;
	background-color: #000;
	margin: auto;
	padding: 0px;
	background-image: url(../image/1.jpg);

}
#logo{
	float: left;
	width: 100px;
	height: 30px;
	padding: 0px;
	margin: 40px 0 0 240px;
}

#logo img{
	width: 100px;
	height: 30px;
}
#nav{
	float: right;
	padding: 0px;
	margin: 40px 200px 0 0 ;
	text-align: left;
}
#nav ul{
	list-style: none;
}
#nav li{
	float: left;
	height: 40px;
	font-size:20px;
	line-height: 40px;
	vertical-align: center;
	text-align: center; 
	margin-left: 20px;
	font-weight: normal;
	font-style: normal;
	color: #ccc;
}
#main{
	width: 100%;
	height: 400px;
	margin-top: 50px;
}
#main ul {
	width: 960px;
	height: 360px;
	position: relative;
	margin: auto;
}
#main ul li{
	width: 960px;
	height: 380px;
	border: 1px solid #000;
	position: absolute;
	top: 0;
	left: 0;
}
#main p{
	width: 500px;
	margin-left: 20px;
}
#main h1{
	color: #86a927;
	margin-left: 20px;
}
#prev{
	float: left;
	margin-top: 150px;
	cursor: pointer;
}
#next{
	float: right;
	margin: -200px 30px 0 0 ;
	cursor: pointer;
}
#one{
	background-image: url(../image/slider-1.jpg);
	display: none;
	color: #ccc;
	text-indent: 30px;
}
#two{
	background-image: url(../image/slider-2.jpg);
	display: none;
	color: #ccc;
	text-indent: 30px;
}
#three{
	background-image: url(../image/slider-3.jpg);
	color: white;
	text-indent: 30px;
}
#content{
	width: 950px;
	height: 500px;
	margin: 30px auto 0px;
	padding-top: 10px;
}
#content h3{
	color: white;
}
#content p{
	font-size: 12px;
	color: #ccc;
}
#title{
	margin: auto;
	color: white;
	width: 600px;
	height: 20px;
	text-align: center;
}
#news{
	padding-top: 20px;
	width: 960px;
	height: 380px;
	margin: 20px 0 0 0;
}
#newsone{
	width: 200px;
	height: 340px;
	float: right;
	margin: 20px 30px 0 0;
	overflow: hidden;
	text-align: left;
	
}
#footer{
	bottom: 0px;
	margin: 10px 0 0 0;
	width: 100%;
	height: 30px;
	background: url(../image/1.jpg);
	text-align: center;
	font-size: 12px;
	color: #fff;
}






/*----------------------------------------------------------------*/
#snews{
	width: 600px;
	height: 400px;
	border-left: 1px solid #fff;
	float: left;
	margin:40px 0  0 0;
	text-align: center; 
}
#snews h2{
	color: #F30;
}
#snewsone{
	width: 600px;
	height: 280px;
	border: 1px solid #ccc;
	margin-top:10px; 
	float: right;
	background-color: #ccff99;
	color: white;
	text-indent: 30px;
	text-align: left;
}
#snewsone2{
	width: 600px;
	height: 280px;
	border: 1px solid #ccc;
	margin-top:10px; 
	float: right;
	background-color: #66cccc;
	color: white;
	text-indent: 30px;
	text-align: left;
}
#snewsone p{
	width: 400px;
	margin-left: 20px;
	color: white;
}
#snewsonetitle{
	float: left;
	height: 40px;
	font-size: 16px;
	width: 600px;
	font-family: '宋体' ;
	text-align: left;
	line-height: 40px;
	vertical-align: center;
}
#sleft{
	width: 180px;
	height: 150px;
	float: right;
	border: 1px solid #ccc;
	margin-top: 50px;
}
#sleft p{
	width: 180px;
	height: 40px;
	line-height: 60px;
	text-align: center;
	vertical-align: center;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
#sleft h2{
	color: #86a927;
	}